.social-share-links {
  width: 100%;
  text-align: center;
  opacity: 0.8;
  color: rgb(255, 180, 67)!important;
}

.social-share-links .btn {
  color: #fff!important;
  background-color: rgb(255, 180, 67)!important;
  width: 2rem;
  padding: 0.5rem;
}

.social-share-links .btn.btn-sm {
  width: 2rem;
  padding: 0.5rem;
}